In [1]:
import numpy as np
import pandas as pd

df=pd.DataFrame(np.arange(12).reshape(3,4),columns=['A', 'B', 'C', 'D'])

In [9]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [12]:
df.drop(['B'], axis=1)

   A   C   D
0  0   2   3
1  4   6   7
2  8  10  11